.contacts {
    width: 100%;
    padding-top: 80px;
    padding-bottom: 70px;
    background-color: #8dc63f;
}
.contacts__wrap {
    max-width: 1200px;
    margin: 0 auto;
}
.contacts__title {
        position: relative;
        font-size: 30px;
        font-family: "Raleway";
        color: rgb(255, 255, 255);
        font-weight: bold;
        text-transform: uppercase;
        line-height: 0.933;
        text-align: center;
        margin-bottom: 50px;
}
.contacts__title::before {
    position: absolute;
    background-color: #fff;
    content: '';
    height: 2px;
    width: 70px;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
}
.contacts__info {
    display: grid;
    grid-template-columns: 1fr 1fr;
   
    margin-left: 20px;
    margin-right: 20px;
}
.contacts__leftCol {
margin-right: 20px;
}
.contacts__inpuWrap {
    height: 90px;
    max-width: 540px;
}
.contacts__messageWrap {
    height: 230px;
}
.contacts__buttonWrap {
    max-width: 540px;
}
.contacts__rightCol {
    
}
@media(max-width: 980px){
    .contacts__info {
        grid-template-columns: 1fr;
    }
    .contacts__leftCol {
        margin-bottom: 20px;
        margin-right: 0;
        
    }
    .contacts__inpuWrap, .contacts__buttonWrap {
        max-width: 100%;
    }
    .leaflet-container {
        margin-right: 20px;
    }
}
@media(max-width: 480px) {
    .contacts {
        padding: 40px 0;
    }
}