.work__wrapp {
    background-color: #202020;
    margin: 0 auto;
}
.work__ul {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 160px;
    display: grid;
    grid-template-columns: repeat(12, minmax(100px, auto));
    grid-auto-rows: minmax(270px, auto);
}

.work__item {
    border: 1px solid #fff;
    
}
.work__item__three {
    grid-column: span 3;
}
.work__item__foure {
    grid-column: span 4;
}
.work__item__five {
    grid-column: span 5;
}
.work__item__six {
    grid-column: span 6;
}
.work__svg {
    height: 100%;
    width: 100%;
}