body {
  font-size: 16px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-wrap: break-word;
  word-wrap: break-word;
  background-color: #252525;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.conteiner {
 width: 100%;
 min-width: 320px;
 background-color: #252525;
}
.wrap {
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.p1 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.mt2 {
  margin-top: 30px;
  
}
.mb2 {
  margin-bottom: 2rem;
}
.bg {
  background-color: rgb(245, 236, 236);
}
.todo {
  margin-bottom: 1rem;
}
.todo.complited span {
  text-decoration: line-through;
}
.todo label {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 1rem;
  background: #f3f3f3;
}
.todo i {
  z-index: 2;
}
.senter {
  text-align: center;
}
.work__item__three {
  grid-column: span 3;
}
.work__item__foure {
  grid-column: span 4;
}
.work__item__five {
  grid-column: span 5;
}
.work__item__six {
  grid-column: span 6;
}
